table {
  border: 8px;
}

.table-background-brown {
  background: var(--galaxus-brown);
}

.table-background-yellow {
  background: var(--galaxus-yellow);
}

.table-background-red {
  background: var(--galaxus-red);
}

.legend span {
  display: inline-block;
  position: relative;
}

.legend span::before {
    content: '';
    width: 1em;
    height: 1em;
    position: absolute;
    left: 0;
    top: 0.2em;
    border-radius: 3px;
}

.legend span.legend-color-brown::before {
    background: var(--galaxus-brown);
}
.legend span.legend-color-yellow::before {
    background: var(--galaxus-yellow);
}
.legend span.legend-color-red::before {
    background: var(--galaxus-red);
}
