@import url("spaces.css");
@import url("flexbox.css");
@import url("text.css");
@import url("borders.css");
@import url("tables.css");

/* svg icon */
.svg-icon {
  fill: currentColor;
  vertical-align: middle;
  transform: translateZ(0);
}