@font-face {
  font-family: "Galactica";
  src: url("https://static.digitecgalaxus.ch/static/fonts/Galactica/galactica-2024-12-19.woff2")
    format("woff2");
}

.font-small {
  font-size: 14px;
  line-height: unset;
}

.font-13 {
  font-size: 13px;
  line-height: unset;
}

.font-16 {
  font-size: 16px;
  line-height: unset;
}

.font-20 {
  font-size: 20px;
  line-height: unset;
}

.font-color-highlight {
  color: #007bc7;
}

.font-color-light {
  color: #0009;
}

.font-hyperlink {
  text-decoration: none;
  color: #007bc7;
}

.font-weight-regular {
  font-weight: 400;
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-bold {
  font-weight: 700;
}

.font-caption {
  font-size: 14px;
  line-height: 20px;
  color: #0009;
}